.comments__container {
  margin: 1rem;
}
@media only screen and (max-width: 451px) {
  .comments__container {
    width: 93vw;
    margin: 0rem auto 0.5rem auto;
  }
}

.comment__header {
  background: #0096f0;
  color: white;
  padding: 0.5rem;
}
@media only screen and (max-width: 451px) {
  .comment__header {
    padding: 0.25rem 0.5rem;
  }
}

.comment__name {
  display: inline-block;
  font-weight: 700;
}

.comment__time {
  font-weight: 700;
  float: right;
}

.comment__text {
  padding: 0.5rem;
}
@media only screen and (max-width: 451px) {
  .comment__text {
    padding: 0.5rem 0.5rem;
  }
}
